@model QLHocPhan_23TH0003.Models.GiangVien
@{
    ViewBag.Title = "Sửa giảng viên";
}
<h4>@ViewBag.Title</h4>
@Html.Partial("_AlertMessages")
<form action="@Url.Action("Edit", "GiangVien_23TH0003")" method="post">
    @Html.AntiForgeryToken()

    @{
        ViewData["Khoa"] = ViewBag.IdKhoa;
    }
    @Html.HiddenFor(x => x.Id)
    @Html.Partial("_Fields", Model, ViewData)

    <div class="form-group">
        <input type="submit" value="Lưu" class="btn btn-primary" />
    </div>
</form>