@model QLHocPhan_23TH0003.Models.GiangVien
@{
    ViewBag.Title = "Sửa giảng viên";
}
<h4>@ViewBag.Title</h4>
@Html.Partial("_AlertMessages")
<form action="@Url.Action("Edit", "GiangVien_23TH0003")" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Lưu" class="btn btn-primary" />
        @if (string.IsNullOrEmpty(Model.UserId))
        {
            <a href="@Url.Action("TaiKhoan", "GiangVien_23TH0003", new { IdGiangVien = Model.Id })" class="btn btn-default">Tạo tài khoản</a>
        }
        else
        {
            <a href="@Url.Action("Details", "User_23TH0003", new { id = Model.UserId })" class="btn btn-default">Xem tài khoản</a>
        }

    </div>
    @{
        ViewData["Khoa"] = ViewBag.IdKhoa;
    }
    @Html.HiddenFor(x => x.Id)
    @Html.Partial("_Fields", Model, ViewData)

    
</form>