@using QLHocPhan_23TH0003.Common.Constants
@using QLHocPhan_23TH0003.Common.Helpers
@model IEnumerable<QLHocPhan_23TH0003.Models.GiangVien>
@{
    ViewBag.Title = "Thùng rác";
}
<h3>@ViewBag.Title</h3>

@Html.Partial("_AlertMessages")

<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mã giảng viên")
            </th>
            <th>
                @Html.DisplayName("Họ tên")
            </th>
            <th>
                @Html.DisplayName("Khoa")
            </th>
            <th>
                @Html.DisplayName("Ngày tạo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaGiangVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.DeleteHardButton(item.Id, Url.Action("HardDelete", "GiangVien_23TH0003"))
                    @Html.RestoreButton(item.Id, Url.Action("Restore", "GiangVien_23TH0003"))
                </td>
            </tr>
        }
    </tbody>
</table>
