@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (Request.IsAuthenticated && User.Identity != null)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right">
    <li><a href="" class = "nav-link">Hello @User.Identity.GetUserName() !</a></li>
    @*<li>
        @if (User.IsInRole("sinhvien"))
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Profile", "SinhVien_23TH0003", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        }
        @if (User.IsInRole("giangvien"))
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Profile", "GiangVien_23TH0003", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        }
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new {id = int.Parse(User.Identity.GetUserId())}, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        }

    </li>*@
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
