@using Microsoft.AspNetCore.Identity
@using QLHocPhan_23TH0003.ViewModel
@model UserViewModel
@{
    ViewBag.Title = "Xem chi tiết";
}
<h4>@ViewBag.Title</h4>
<div class="head_action">
   
</div>
@Html.Partial("_AlertMessages")

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label><strong>Tên đăng nhập:</strong></label>
            <span>@Model.UserName</span>
        </div>
        
        <div class="form-group">
            <label><strong>EmailConfirmed: </strong></label>
            <span>@Model.EmailConfirmed</span>
        </div>
        <div class="form-group">
            <label><strong>Số lần đăng nhập thất bại: </strong></label>
            <span>@Model.AccessFailedCount</span>
        </div>
        
        <div class="form-group">
            <label><strong>LockoutEnabled: </strong></label>
            <span>@Model.LockoutEnabled</span>
        </div>
        <div class="form-group">
            <label><strong>LockoutEnd: </strong></label>
            <span>@Model.LockoutEnd</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label><strong>Email: </strong></label>
            <span>@Model.Email</span>
            <a href="" class="btn btn-primary">Đổi Email</a>
        </div>
        <div class="form-group">
            <label><strong>Số điện thoại: </strong></label>
            <span>@Model.PhoneNumber</span>
            <a href="" class="btn btn-primary">Đổi số điện thoại</a>
        </div>
        <div class="form-group">
            <label><strong>Vai trò: </strong></label>
            <span>@(Model.Roles.Count == 0 ? "Chưa phân quyền" : string.Join(", ", Model.Roles) )</span>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DoiVaiTro">Đổi vai trò</button>
        </div>
        <div class="form-group">
            <label><strong>Mật khẩu: </strong></label>
            <a href="" class="btn btn-primary">Tạo mật khẩu mới</a>
        </div>
    </div>
</div>

@{
    var userRoles = ViewBag.UserRoles as List<string>;
    var allRoles = ViewBag.AllRoles as List<IdentityRole>;
}
<div class="modal fade" id="DoiVaiTro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Đổi vai trò</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @if (User.Identity.Name == Model.UserName)
            {
                <div class="modal-body">
                <p>Bạn không thể tự đổi vai trò của chính mình</p>
                </div>
            }
            else
            {
                <form action="@Url.Action("UpdateUserRoles", "User_23TH0003")" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="email" value="@Model.Email" />
                        <div class="form-group">
                            <label>Vai trò người dùng:</label><br />
                            @foreach (var role in allRoles)
                            {
                                <label class="form-check-label; mb-2" style="display: block">
                                    <input class="mr-2" type="checkbox"
                                           name="selectedRoles"
                                           value="@role.Name"
                                           @(userRoles.Contains(role.Name) ? "checked" : "") />@role.Name
                                </label>

                            }
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </form>
            }
            
        </div>
    </div>
</div>