@using QLHocPhan_23TH0003.Common.Constants
@using QLHocPhan_23TH0003.Common.Helpers
@model IEnumerable<QLHocPhan_23TH0003.Models.MonHoc>
@{
    ViewBag.Title = "Quản lý môn học";
}
<h3>@ViewBag.Title</h3>
<div class="head_action">
    @Html.ModalButton("Thêm mới", "btn-primary", UiConstants.btnCreateModal, UiConstants.CreateModal)
    <a href="@Url.Action("Trash", "MonHoc_23TH0003")" class="btn btn-warning"><i class="fa fa-trash"></i> Thùng rác</a>
</div>
@Html.Partial("_AlertMessages")
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mã môn học")
            </th>
            <th>
                @Html.DisplayName("Tên môn học")
            </th>
            <th>
                @Html.DisplayName("Khoa")
            </th>
            <th>
                @Html.DisplayName("Ngày tạo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="@UiConstants.CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @{
        var model = new QLHocPhan_23TH0003.ViewModel.MonHocViewModel();
        model.Khoas = ViewBag.IdKhoa;
    }
    @Html.Partial("Create", model)

</div>

<div class="modal fade" id="@UiConstants.EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<script>
     $(document).ready(function() {
            $('#grid').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Admin/MonHoc_23TH0003/GetData',
                    type: 'GET'
                },
                columns: [
                    { data: 'maMonHoc' },
                    { data: 'tenMonHoc' },
                    { data: 'tenKhoa' },
                    { data: 'ngayTao' },
                    { data: 'action', orderable: false, searchable: false }
                ]
            });
    });
</script>
