@using Project_23TH0003.Models
@model IEnumerable<Project_23TH0003.Models.Enrollment>

@{
    ViewBag.Title = "Đăng ký học phần";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    IEnumerable<Class> ListClass = (IEnumerable<Class>)ViewBag.ListClasses;
    var ListNamHoc = ListClass.GroupBy(x => x.Year);
}
<style>
    .class ul li button {
        width: 100%;
        display: block;
        text-align: left;
    }

    .tab-content {
        padding: 10px 15px;
    }

    .class ul li a {
        display: block;
        padding: 10px 15px;
        background: #295d83;
        border-bottom: grey 1px solid;
        color: #fff;
    }
</style>
<h4 class="title">Đăng ký học phần</h4>
@Html.Partial("_AlertMessages")
<div class="tabs">
    <div class="row">
        <div class="col-md-3 class">
            @if (ListClass != null)
            {
                <ul>
                    @foreach (var nam in ListNamHoc)
                    {

                        var hockys = nam.GroupBy(x => x.Semester);
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Năm học @nam.Key - @(nam.Key + 1) <span class="caret"></span></a>
                            <ul style="display:none;">
                                @foreach (var hocky in hockys)
                                {
                                    var Lops = hocky.Where(x => x.Semester == hocky.Key);
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">Học kỳ @hocky.Key<span class="caret"></span></a>
                                        <ul style="display:none;">
                                            @foreach (var lop in Lops)
                                            {
                                                <li style="list-style-type: none">
                                                    <button class="tab-button" onclick="openTab(event, 'tab_@lop.ClassID')">@lop.Cours.CourseName</button>
                                                </li>
                                            }
                                        </ul>
                                    </li>

                                }
                            </ul>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-9">
            <div class="studentList" id="gridContent">
                @foreach (var lop in ListClass)
                {
                    var students = lop.Enrollments;
                    <div id='tab_@lop.ClassID' class="tab-content">
                        <p><strong>Danh sách sinh viên đăng ký môn @lop.Cours.CourseName</strong></p>
                        <p><strong>Giảng viên: </strong>@lop.Instructor.FullName</p>
                        <p><strong>Học kỳ: </strong>@lop.Semester - <strong>Năm học: </strong>@lop.Year</p>
                        @if (lop.Year >= DateTime.Now.Year)
                        {
                            <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#Modal_@lop.ClassID">
                                Thêm sinh viên
                            </button>
                        }

                        <table class="table table-borderd table-hover">
                            <thead>
                            <th>STT</th>
                            <th>Sinh viên</th>
                            <th>Chức năng</th>
                            </thead>

                            @foreach (var item in students.Select((value, index) => new { value, index }))
                            {
                                <tr>
                                    <td>@(item.index + 1)</td>
                                    <td>@item.value.Student.FullName</td>
                                    <td><a href="">Xóa</a></td>
                                </tr>
                            }
                        </table>
                    </div>

                    <div class="modal fade" id="Modal_@lop.ClassID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Danh sách sinh viên</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                @using (Html.BeginForm("List", "DangKyHoc_23TH0003", FormMethod.Post))
                                {
                                    <input type="hidden" name="ClassID" , value="@lop.ClassID" />
                                    <div class="modal-body">
                                        @{
                                            Html.RenderAction("GetStudents", "SinhVien_23TH0003");
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script>
    $(".dropdown-toggle").on("click", function () {
        $(this).next().slideToggle();
    })
</script>