@using Project_23TH0003.Models
@model IEnumerable<Project_23TH0003.Models.EnrollmentViewModel>

@{
    ViewBag.Title = "Danh sách đăng ký môn học";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    Class classe = (Class)ViewBag.Classes;
    var grid = new WebGrid(Model, canPage: true, defaultSort: "CourseName", rowsPerPage: 10);
}

<h4 class="title">Đăng ký môn học</h4>
@Html.Partial("_AlertMessages")
<div class="row">
    <div class="col-3"><b>Khóa học: </b> @classe.Cours.CourseName</div>
    <div class="col-3"><b>Giảng viên: </b>  @classe.Instructor.FullName</div>
    <div class="col-3"><b>Năm học: </b> @classe.Year</div>
    <div class="col-3"><b>Học kỳ: </b> @classe.Semester</div>
</div>

@using (Html.BeginForm("UpdateScores", "DangKyHoc_23TH0003", FormMethod.Post))
{
    int STT = 0;
    <input type="hidden" name="classID" value="@classe.ClassID" />


    <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#exampleModal">
        Thêm sinh viên
    </button>


    <button type="submit" class="btn btn-primary mt-3 mb-3">Lưu điểm</button>

    <div id="gridContent">
        <table class="table table-borderd table-hover">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Điểm giữa kì (@classe.HeSo_Diem1)</th>
                    <th scope="col">Điểm kết thúc (@classe.HeSo_Diem2)</th>
                    <th scope="col">Điểm Học phần</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <input type="hidden" step="0.01" name="ListEnrollments[@STT].EnrollmentID" value="@item.EnrollmentID" class="form-control" />
                <tr>
                    <td>@(STT + 1)</td>
                    <td>@item.Student.FullName</td>
                    <td><input type="number" step="0.01" name="ListEnrollments[@STT].Midterm" value="@item.Midterm" min=0 max=10 required class="form-control" onchange="validateInput(this)" /></td>
                    <td><input type="number" step="0.01" name="ListEnrollments[@STT].Final" value="@item.Final" min=0 max=10 required class="form-control" onchange="validateInput(this)" /></td>
                    <td style="color:red">@item.TinhDiemHP</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.EnrollmentID})" class="edit-btn"><abbr title="Cập nhật"><img src="~/Content/img/edit.png" width="20" height="20" /></abbr></a>
                        <a href="@Url.Action("Delete", new { id = item.EnrollmentID})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="~/Content/img/delete.png" width="20" height="20" /></abbr> </a>

                    </td>
                </tr>
                STT++;
            }
        </table>
    </div>

}


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("List", "DangKyHoc_23TH0003", FormMethod.Post))
            {
                <input type="hidden" name="ClassID" , value="@classe.ClassID" />
                <div class="modal-body">
                    @{
                        Html.RenderAction("GetStudents", "SinhVien_23TH0003");
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function validateInput(input) {
        var value = parseFloat(input.value);
        if (value < 0 || value > 10) {
            alert("Điểm phải nằm trong khoảng từ 0 đến 10.");
            input.value = "";
            input.focus();
        }
    }
}

</script>
