@using Project_23TH0003.Models
@model IEnumerable<Project_23TH0003.Models.Enrollment>

@{
    ViewBag.Title = "Danh sách đăng ký môn học";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    Class classe = (Class)ViewBag.Classes;
    var grid = new WebGrid(Model, canPage: true, defaultSort: "CourseName", rowsPerPage: 10);
}

<h4 class="title">Đăng ký môn học</h4>

<div class="row">
    <div class="col-3"><b>Khóa học: </b> @classe.Cours.CourseName</div>
    <div class="col-3"><b>Giảng viên: </b>  @classe.Instructor.FullName</div>
    <div class="col-3"><b>Năm học: </b> @classe.Year</div>
    <div class="col-3"><b>Học kỳ: </b> @classe.Semester</div>
</div>

@using (Html.BeginForm("UpdateScores", "DangKyHoc_23TH0003", FormMethod.Post))
{
    <input type="hidden" name="classID" value="@classe.ClassID"/>
    <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#exampleModal">
        Thêm sinh viên
    </button>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Lưu điểm</button>
    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
         tableStyle: "table table-borderd table-hover",
         footerStyle: "grid-footer",
         fillEmptyRows: false,
         mode: WebGridPagerModes.Numeric,
         alternatingRowStyle: "alternatingRowStyle",
         columns: new[]
         {
             grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
             grid.Column("Student.FullName","Họ tên"),
             grid.Column("Điểm giữa kì", format: @<text><input type="number"  name="Midterm[@item.EnrollmentID]" value="@item.Midterm" class="form-control" /></text>),
grid.Column("Điểm kết thúc", format: @<text><input type="number"  name="Final[@item.EnrollmentID]" value="@item.Final" class="form-control" /></text>, style:"width:50px;"),
grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Edit", new { id = item.EnrollmentID})" class="edit-btn"><abbr title="Cập nhật"><img src="~/Content/img/edit.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Delete", new { id = item.EnrollmentID})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="~/Content/img/delete.png" width="20" height="20" /></abbr> </a>
</text>),
 })
    </div>
}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Danh sách sinh viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("List", "DangKyHoc_23TH0003", FormMethod.Post))
                {
                    <input type="hidden" name="ClassID" , value="@classe.ClassID" />
                    <div class="modal-body">
                        @{
                            Html.RenderAction("GetStudents", "SinhVien_23TH0003");
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                }
            </div>
        </div>
    </div>

