@using QLHocPhan_23TH0003.Models
@using QLHocPhan_23TH0003.ViewModel
@model HocViewModel
@{
    ViewBag.Title = "Lớp học phần";
}
@Html.Partial("_AlertMessages")
<div class="page-header">
    <div class="container">
        <h4 class="title">@Model.LopHocPhan?.TenLopHocPhan</h4>
    </div>
</div>
<div class="container p-3">
    <div>
        <span><strong>Mã lớp học phần : </strong> @Model.LopHocPhan.MaLopHocPhan</span>
    </div>
    <div>
        @{
            var giaoviens = Model.LopHocPhan.PhanCongGiangDays;
          }
        <span>
            <strong>Giảng viên : </strong>@if (giaoviens != null)
            {
                var a = string.Join(", ", giaoviens.Select(gv => gv.GiangVien.HoTen));
                @a
            }
        </span>
    </div>
    <div>
        <span><strong>Địa điểm :</strong> @Model.LopHocPhan.DiaDiemHoc</span>
    </div>
    <div>
        <span><strong>Thời gian học: </strong>@Model.LopHocPhan.ThoiGianHoc</span>
    </div>
    <div>
        <span><strong>Học kỳ : </strong> @Model.LopHocPhan.HocPhan?.HocKy?.TenHocKy</span>
        <span> - Năm học: @Model.LopHocPhan.HocPhan?.HocKy?.NamHoc</span>
    </div>
    <div>
        <span><strong>Số tín chỉ : </strong> @Model.LopHocPhan.HocPhan?.SoTinChi</span>
    </div>
    <div>@Model.LopHocPhan.GhiChu</div>
    @{
        bool IsDangKy = ViewBag.IsDangKy;
    }
    @if (IsDangKy != true)
    {
        DangKyHocPhan model = new DangKyHocPhan();
        model.IdLopHocPhan = Model.LopHocPhan.Id;
        <div>
            <div class="alert alert-info">Vui lòng đăng ký học phần để tiếp tục</div>
            <form action='@Url.Action("Create", "DangKyHocPhan_23TH0003")' method="post" onsubmit="return confirm('Bạn có chắc chắn muốn đăng ký học phần này?');">
                @Html.AntiForgeryToken()
                @Html.Hidden("IdLopHocPhan", model.IdLopHocPhan)
                <button class="btn btn-primary" on>Đăng ký học phần</button>
            </form>
        </div>
    }
    else if(Model.BaiHocs != null && Model.BaiHocs.Count() > 0)
    {
        <div class="row mt-5">
            @foreach(var item in Model.BaiHocs)
            {
            <div class="col col-md-12">
                <div class="card-group">
                        <a href="" class="title">@item.TenBaiHoc</a>
                </div>
                    @if (item.DropboxFile != null)
                    {
                        <div class="card-group">
                            <a href="@item.DropboxFile?.DownloadUrl" target="_blank">
                                <img src="@item.DropboxFile?.IconUrl" class="icon-file" />
                                @item.DropboxFile?.Name
                            </a>
                        </div>
                    }
                    @if (item.DropboxVideo != null)
                    {
                        <div class="card-group">
                            <a href="@item.DropboxVideo?.DownloadUrl" target="_blank">
                                <img src="@item.DropboxVideo?.IconUrl" class="icon-file" />
                                @item.DropboxVideo?.Name
                            </a>
                        </div>
                    }
                    
                <div>@Html.Raw(item.NoiDung)</div>
            </div>
            }
        </div>
        
    }

</div>