@model QLHocPhan_23TH0003.Models.LopHocPhan

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="IdHocPhan" class="control-label">Học phần</label>
            @Html.DropDownList("IdHocPhan", (SelectList)ViewData["HocPhan"], new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label asp-for="MaLopHocPhan" class="control-label">Mã lớp học phần</label>
            @Html.EditorFor(x => x.MaLopHocPhan, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="MaLopHocPhan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TenLopHocPhan" class="control-label">Tên lớp học phần</label>
            @Html.EditorFor(x => x.TenLopHocPhan, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="TenLopHocPhan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SiSoToiDa" class="control-label">Sỉ số tối đa</label>
            @Html.EditorFor(x => x.SiSoToiDa, new { htmlAttributes = new { @class = "form-control", @type="number"} })
            <span asp-validation-for="SiSoToiDa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ThoiGianHoc" class="control-label">Thời gian học</label>
            @Html.EditorFor(x => x.ThoiGianHoc, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="ThoiGianHoc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiaDiemHoc" class="control-label">Địa điểm học</label>
            @Html.EditorFor(x => x.DiaDiemHoc, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="DiaDiemHoc" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="HeSoChuyenCan" class="control-label">Hệ số chuyên cần</label>
            @Html.EditorFor(x => x.HeSoChuyenCan, new { htmlAttributes = new { @class = "form-control", @type="number" } })
            <span asp-validation-for="HeSoChuyenCan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeSoGiuaKy" class="control-label">Hệ số giữa kỳ</label>
            @Html.EditorFor(x => x.HeSoGiuaKy, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            <span asp-validation-for="HeSoGiuaKy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeSoThucHanh" class="control-label">Hệ số thực hành</label>
            @Html.EditorFor(x => x.HeSoThucHanh, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            <span asp-validation-for="HeSoThucHanh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeSoCuoiKy" class="control-label">Hệ số cuối kỳ</label>
            @Html.EditorFor(x => x.HeSoCuoiKy, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            <span asp-validation-for="HeSoCuoiKy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label">Ghi chú</label>
            @Html.EditorFor(x => x.GhiChu, new { htmlAttributes = new { @class = "form-control"} })
            <span asp-validation-for="GhiChu" class="text-danger"></span>
        </div>
    </div>
</div>