@using QLHocPhan_23TH0003.Common.Helpers
@model IEnumerable<QLHocPhan_23TH0003.Models.LopHocPhan>
@{
    ViewBag.Title = "Danh sách lớp học phần";
}
<h4>@ViewBag.Title</h4>
<div class="head_action">
    <a href="@Url.Action("Create", "LopHocPhan_23TH0003")" class="btn btn-primary">Thêm mới</a>
    <a href="@Url.Action("Trash", "LopHocPhan_23TH0003")" class="btn btn-warning"><i class="fa fa-trash"></i> Thùng rác</a>
</div>
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mã lớp học phần")
            </th>
            <th>
                @Html.DisplayName("Tên lớp học phần")
            </th>
            <th>
                @Html.DisplayName("Học phần")
            </th>
            <th>
                @Html.DisplayName("Ngày tạo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLopHocPhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLopHocPhan)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.HocPhan.TenHocPhan)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                <td>
                    @Html.EditButton("LopHocPhan_23TH0003", item.Id)
                    @Html.DeleteButton(item.Id, Url.Action("Delete", "LopHocPhan_23TH0003"))
                </td>
            </tr>
        }
    </tbody>
</table>