@model Project_23TH0003.Models.Department

@{
    ViewBag.Title = "Thêm khoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="title">Thêm Khoa</h4>
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DepartmentID)

        <div class="form-group row mt-2">
            @Html.LabelFor(model => model.DepartmentName, "Tên khoa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-2">
            @Html.LabelFor(model => model.DeanID, "Trưởng khoa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DeanID", null,"Chọn trưởng khoa", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeanID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class = "btn"})
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
