@model Project_23TH0003.Models.Class

@{
    ViewBag.Title = "Thêm lớp học";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="title">Thêm lớp học</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row mt-2">
            @Html.LabelFor(model => model.CourseID, "Thuộc khóa học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseID", null, "Chọn khóa học", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-2">
            @Html.LabelFor(model => model.InstructorID, "Giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstructorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InstructorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-2">
            @Html.LabelFor(model => model.Semester, "Học kì", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-2">
            @Html.LabelFor(model => model.Year, "Năm học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
                @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class="btn btn-default"})
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#CourseID").change(function () {
        var courseID = $(this).val();
            if (courseID) {
                $.ajax({
                    url: '@Url.Action("GetInstructorsByCourse", "GiangVien_23TH0003")',
                    data: { courseID: courseID },
                    type: 'GET',
                    success: function (data) {
                        if (data.success) {
                            var instructorDropdown = $('#InstructorID');
                            instructorDropdown.empty();
                            instructorDropdown.append('<option value="">Chọn giảng viên</option>');
                            $.each(data.instructors, function (i, instructor) {
                                instructorDropdown.append('<option value="' + instructor.InstructorID + '">' + instructor.FullName + '</option>');
                            });
                        } else {
                            alert(data.message);
                        }
                    }
                });
            } else {
                $('#InstructorID').empty().append('<option value="">Chọn giảng viên</option>');
            }
        });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
