@model IEnumerable<Project_23TH0003.Models.Class>

@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "CourseName", rowsPerPage: 10);
}

<h4 class="title">Quản lý lớp học</h4>

<p>
    @Html.ActionLink("Thêm mới", "Create", "", new {@class="btn btn-default"})
</p>
@Html.Partial("_AlertMessages")
@if (User.IsInRole("admin")) {
<div class="form-search">
    @using (Html.BeginForm("TimKiemNC", "LopHoc_23TH0003", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex">
                <label><b>Khóa học</b></label>
                @Html.DropDownList("CourseID", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex">
                <label><b>Giảng viên</b></label>
                @Html.DropDownList("InstructorID", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex">
                <label><b>Học kì</b></label>
                <input type="number" name="Semester" value="@ViewBag.Semester" class="form-control" />
                <label style="margin-left:7px;"><b>Năm học</b></label>
                <input type="number" name="Year" value="@ViewBag.Year" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 mt-3">
            <input type="submit" name="submit" value="Tìm kiếm" class="btn btn-default bg-success" />
            <input type="button" name="Nhapmoi" value="Nhập mới" class="btn btn-default bg-secondary" onclick="location.href='@Url.Action("TimKiemNC", "LopHoc_23TH0003")'" />
        </div>
    </div>
    }
</div>
}
<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
    tableStyle: "table table-borderd table-hover",
    footerStyle: "grid-footer",
    fillEmptyRows: false,
    mode: WebGridPagerModes.Numeric,
    alternatingRowStyle: "alternatingRowStyle",
    columns: new[]
    {
         grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
         grid.Column("Cours.CourseName","Tên khóa học"),
         grid.Column("Instructor.FullName","Giảng viên"),
         grid.Column("Semester","Học kì"),
         grid.Column("Year","Năm học"),
         grid.Column("Sinh viên", format: @<text><a href="@Url.Action("List", "DangKyHoc_23TH0003", new { ClassID = item.ClassID})" class="edit-btn"><abbr title="Xem">Xem</abbr></a></text>),
         grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Edit", new { id = item.ClassID})" class="detail-btn"><abbr title="Sửa"><img src="~/Content/img/edit.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Details",new { id = item.ClassID})" class="edit-btn"><abbr title="Xem chi tiết"><img src="~/Content/img/details.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Delete", new { id = item.ClassID})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="~/Content/img/delete.png" width="20" height="20" /></abbr> </a>
        </text>),
})
</div>
