@using QLHocPhan_23TH0003.Common.Helpers
<div class="sidebar" data-color="orange">
    <div class="logo">
        <a href="/Admin" class="simple-text logo-mini">
            QL
        </a>
        <a href="/Admin" class="simple-text logo-normal">
            Học Phần
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="/Admin">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="@Html.IsActive("HocKy_23TH0003")">
                <a href="@Url.Action("Index", "HocKy_23TH0003")">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Học kỳ</p>
                </a>
            </li>
            <li class="@Html.IsActive("Khoa_23TH0003")">
                <a href="@Url.Action("Index", "Khoa_23TH0003")">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Khoa</p>
                </a>
            </li>
            <li class="@Html.IsActive("LopHoc_23TH0003")">
                <a href="@Url.Action("Index", "LopHoc_23TH0003")">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Lớp học</p>
                </a>
            </li>
            <li class="@Html.IsActive("User_23TH0003")">
                <a href="@Url.Action("Index", "User_23TH0003")">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Người dùng - Phân quyền</p>
                </a>
            </li>
            <li class="@Html.IsActive("GiangVien_23TH0003")">
                <a href="@Url.Action("Index", "GiangVien_23TH0003")">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Giảng viên</p>
                </a>
            </li>
            <li class="@Html.IsActive("SinhVien_23TH0003")">
                <a href="@Url.Action("Index", "SinhVien_23TH0003")">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Sinh viên</p>
                </a>
            </li>
            <li class="@Html.IsActive("MonHoc_23TH0003")">
                <a href="@Url.Action("Index", "MonHoc_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Môn học</p>
                </a>
            </li>
            <li class="@Html.IsActive("HocPhan_23TH0003")">
                <a href="@Url.Action("Index", "HocPhan_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Học phần</p>
                </a>
            </li>
            <li class="@Html.IsActive("LopHocPhan_23TH0003")">
                <a href="@Url.Action("Index", "LopHocPhan_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Lớp Học phần</p>
                </a>
            </li>
            <li class="@Html.IsActive("PhanCongGiangDay_23TH0003")">
                <a href="@Url.Action("Index", "PhanCongGiangDay_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Phân công giảng dạy</p>
                </a>
            </li>
            <li class="@Html.IsActive("PhanCongGiangDay_23TH0003")">
                <a href="@Url.Action("Index", "PhanCongGiangDay_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Lịch dạy giảng viên</p>
                </a>
            </li>
            <li class="@Html.IsActive("DangKyHocPhan_23TH0003")">
                <a href="@Url.Action("Index", "DangKyHocPhan_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Đăng ký học phần</p>
                </a>
            </li>
            <li class="@Html.IsActive("Diem_23TH0003")">
                <a href="@Url.Action("Index", "Diem_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Xem điểm</p>
                </a>
            </li>
            <li class="@Html.IsActive("HocPhi_23TH0003")">
                <a href="@Url.Action("Index", "HocPhi_23TH0003")">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Học phí</p>
                </a>
            </li>
            <li>
                <a href="./upgrade.html">
                    <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                    <p>Báo cáo thống kê</p>
                </a>
            </li>
        </ul>
    </div>
</div>