@model IEnumerable<Project_23TH0003.Models.XemDiemViewModel>
@{
    ViewBag.Title = "Xem điểm tổng kết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int STT = 1;
}

<h4 class="title">Quản lý điểm sinh viên</h4>
<div class="no-print mb-3">
    <button onclick="window.print()">In Bảng Điểm</button>
</div>
<div id="gridContent">
    <table>
        <thead>
        <th>STT</th>
        <th>Sinh viên</th>
        @foreach (var lop in ViewBag.CourseID) { 
            <th>@lop.CourseName</th>
        }
        <th>Điểm TB HK</th>
        <th>Điểm TB Tích lũy</th>
        <th>Chi tiết</th>
        </thead>
        @foreach (var student in Model)
        {
            <tr>
                <td>@STT</td>
                <td>@student.Student.FullName</td>
                @foreach (var lop in ViewBag.CourseID)
                {
                    var diem = student.ListDiem.Where(x => x.Class.CourseID == lop.CourseID).FirstOrDefault();

                    if (diem != null)
                    {
                        <td>@diem.DiemHP</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
                <td style="color:red;">@student.DiemTBHocKy</td>
                <td>@student.DiemTBTichLuy</td>
                <td><a href='@Url.Action("XemDiemSinhVien","XemDiem_23TH0003", new {studentId = student.studentId})'>Xem</a></td>
            </tr>
            STT++;
        }
    </table>
</div>
