@model List<Project_23TH0003.Models.XemDiemTheoNamHoc>
@{
    ViewBag.Title = "Xem điểm tổng kết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="title">Xem điểm sinh viên</h3>
<div class="tabs">
    <div class="tab-header">
        @foreach (var namhoc in Model)
        {
            <button class="tab-button" onclick="openTab(event, 'tab_@namhoc.Year')" style="color:green; font-weight:700;">Năm học @namhoc.Year</button>
        }

    </div>

    @foreach (var namhoc in Model)
    {
        <div id='tab_@namhoc.Year' class="tab-content">
            @foreach (var hocky in namhoc.LisDiemHocKy)
            {
                <p style="text-align:center; color:green;"><strong>Học kỳ @hocky.semester - Năm học: @namhoc.Year</strong></p>
                <table class="table table-borderd table-hover">
                    <thead class="grid-footer">
                    <th>STT</th>
                    <th>Sinh viên</th>
                    @foreach (var mon in hocky.ListClass)
                    {
                        <th>@mon.Cours.CourseName</th>
                    }
                    <th>Điểm TB học kỳ</th>
                    <th>Chi tiết</th>
                    </thead>
                    @foreach (var (sinhvien, index) in hocky.ListDiemSinhVien.Select((value, idx) => (value, idx)))
                    {
                        <tr>
                            <td style="text-align:center;">@(index + 1)</td>
                            <td>@sinhvien.student.FullName</td>
                            @foreach (var mon in hocky.ListClass)
                            {
                                var DiemHP = sinhvien.ListDiem.Where(x => x.Class.ClassID == mon.ClassID).FirstOrDefault();
                                decimal? Diem = DiemHP != null ? DiemHP.DiemHP : null;
                                <td style="text-align:right;">@Diem</td>
                            }
                            <td style="text-align:right;">@sinhvien.DiemTBHocKy</td>
                            <td style="text-align:center;"><a href='@Url.Action("XemDiemSinhVien","XemDiem_23TH0003", new {@studentId = sinhvien.student.StudentID})'>Xem</a></td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
</div>
</div>
