@model IEnumerable<QLHocPhan_23TH0003.Models.DangKyHocPhan>
@{
    ViewBag.Title = "Kết quả học tập";
    var ListHocKy = Model.GroupBy(x => x.LopHocPhan.HocPhan.HocKy).Select(x => new {Id = x.Key.Id, MaHocKy = x.Key.MaHocKy, TenHocKy = x.Key.TenHocKy, NamHoc = x.Key.NamHoc });
}
<style>
    table th, td{
        border: 1px solid #fff;
        border-collapse: collapse;
    }
    table tr:nth-child(2n+1) {
        background: #33333321;
    }
    table th {
       
        background: #00c9ff;
        color: #fff;
        padding: 5px;
    }
</style>
    <div class="container mt-3">
    <h4 class="title text-center">@ViewBag.Title</h4>

    @foreach (var hocky in ListHocKy)
    {
        var ListDiem = Model.Where(x => x.LopHocPhan.HocPhan.IdHocKy == hocky.Id);
        <div class="hocky=@hocky.Id hocky mt-5">
            <h5>@hocky.TenHocKy - @hocky.NamHoc</h5>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Lớp học phần")
                        </th>
                        <th>
                            @Html.DisplayName("Số tín chỉ")
                        </th>
                        <th>
                            @Html.DisplayName("Điểm giữa kì")
                        </th>
                        <th>
                            @Html.DisplayName("Điểm cuối kì")
                        </th>
                        <th>
                            @Html.DisplayName("Điểm TB")
                        </th>
                        <th>
                            @Html.DisplayName("Xếp loại")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ListDiem)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LopHocPhan.TenLopHocPhan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LopHocPhan.HocPhan.SoTinChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diem.DiemGiuaKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diem.DiemCuoiKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diem.DiemTrungBinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diem.XepLoai)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    }
    
    </div>
