@model IEnumerable<QLHocPhan_23TH0003.Models.PhanCongGiangDay>
@{
    ViewBag.Title = "Lớp học phần đang giảng dạy";
}
<div class="container mt-5">
    <h4 class="title mt-4 mb-4">@ViewBag.Title</h4>
    <table id="grid" class="table table-hover">
        <thead>
            <tr>
                <th>Tên lớp học phần</th>
                <th>Học phần</th>
                <th>Học kỳ</th>
                <th>SL Sinh viên</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LopHocPhan?.TenLopHocPhan</td>
                    <td>@item.LopHocPhan?.HocPhan?.TenHocPhan</td>
                    <td>@(item.LopHocPhan?.HocPhan?.HocKy?.TenHocKy) - @(item.LopHocPhan?.HocPhan?.HocKy?.NamHoc)</td>
                    <td>@item.LopHocPhan?.DangKyHocPhans?.Count</td>
                    <td>
                       <span>Đang mở</span>
                    </td>
                    <td><a href='@Url.Action("Index", "BaiHoc_23TH0003", new { IdLopHocPhan = item.IdLopHocPhan })'>Bài học</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
