@using QLHocPhan_23TH0003.Common.Helpers
@model IEnumerable<QLHocPhan_23TH0003.Models.SinhVien>
@{
    ViewBag.Title = "Danh sách sinh viên";
}
<div class="page-header">
    <div class="container">
        <h4 class="title">@ViewBag.Title</h4>
    </div>
</div>

<div class="head_action">
    <a href="@Url.Action("Create","SinhVien_23TH0003")" class="btn btn-primary">Thêm mới</a>
    <a href="@Url.Action("Trash", "SinhVien_23TH0003")" class="btn btn-warning"><i class="fa fa-trash"></i> Thùng rác</a>
</div>
@Html.Partial("_AlertMessages")
<table id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mã sinh viên")
            </th>
            <th>
                @Html.DisplayName("Họ tên")
            </th>
            
            <th>
                @Html.DisplayName("Tài khoản")
            </th>
            <th>
                @Html.DisplayName("Lớp")
            </th>
            <th>
                @Html.DisplayName("Ngày tạo")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
               
                <td>
                    @(!string.IsNullOrEmpty(item.UserId) ? "Đã có tài khoản" : "Chưa có tài khoản")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop.TenLop)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTao)
                </td>
                
                <td>
                    @Html.EditButton("SinhVien_23TH0003", item.Id)
                    @Html.DeleteButton(item.Id, Url.Action("Delete", "SinhVien_23TH0003"))
                </td>
            </tr>
        }
    </tbody>
</table>
