@model IEnumerable<QLHocPhan_23TH0003.Models.HocKy>
@using QLHocPhan_23TH0003.Common.Constants
@using QLHocPhan_23TH0003.Common.Helpers
@{
    ViewBag.Title = "Quản lý học kỳ";
}

<h4>@ViewBag.Title</h4>
<div class="head_action">
    @Html.ModalButton("Thêm mới", "btn-primary", UiConstants.btnCreateModal, UiConstants.CreateModal)
</div>
@Html.Partial("_AlertMessages")
<table id="grid">
    <thead>
        <tr>
            <th>Mã học kỳ</th>
            <th>Tên học kỳ</th>
            <th>Năm học</th>
            <th>Ngày tạo</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

<div class="modal fade" id="@UiConstants.CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @Html.Partial("Create", new QLHocPhan_23TH0003.Models.HocKy())
</div>

<div class="modal fade" id="@UiConstants.EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
</div>

<script>
     $(document).ready(function() {
            $('#grid').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Admin/HocKy_23TH0003/GetData',
                    type: 'GET'
                },
                columns: [
                    { data: 'maHocKy' },
                    { data: 'tenHocKy' },
                    { data: 'namHoc' },
                    { data: 'ngayTao' },
                    { data: 'action', orderable: false, searchable: false }
                ]
            });
    });
</script>